.App {
  text-align: center;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #010d24;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.homepage-container
{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-opening-container
{
padding-bottom:50px;
margin-top: 50px;
}
.homepage-title
{
  font-family: 'Press Start 2P', cursive;
font-size: 70px;
padding:0px;
margin:0px;
}

.homepage-tag-line
{
  padding:0px;
  margin:0px;
  font-family: 'Cedarville Cursive', cursive;
}

.homepage-form-container
{
  display: flex;
  justify-content: center;

}

.homepage-form
{
  width:550px;
  height:250px;
  border-style: solid;
  padding:50px;
}

.homepage-form-input-container
{
display: flex;
width: 500px;
height:70px;
align-items:center;
justify-content: center;
font-size:30px;
margin-bottom: 30px;
}

.homepage-form-text-input
{
  height:30px;
  width: 200px;
}

.homepage-form-input-label
{
  margin-right:25px;
  width:230px;
}

.general-button
{
 height:60px;
 width: 200px;
 font-size: 30px;
 background-color: gray;
 color:white;
}

.explanation-container
{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0px;
  margin-bottom: 40px;
}

.explanation
{
  width: 1300px;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top:0px;
}

.explanation-title
{
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 40px;
  font-size: 70px;
}
.explanation-text-container
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.explanation-text
{
  width: 800px;
  padding-bottom: 15px;
  font-size: 20px;
  text-align: justify;
}

.gameboard-container
{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0px;
  margin-bottom: 40px;
}

.gameboard-text-container
{
  width: 100%;
margin-top: 20px;
margin-bottom:10px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
height:200px;

}
.gameboard-title
{
  font-family: 'Press Start 2P', cursive;
  width: 500px;
  margin-left: 0px;
  display: flex;
  text-align: center;

}

.gameboard-data-container
{
height:150px;
border-style: solid;
width: 500px;
display: flex;
justify-content: space-evenly;
}
.gameboard-data-text
{
  font-size: 25px;
  width:100%;
  text-align: justify;
  padding-left: 20px;
}

.gameboard-data-title
{
  font-size: 35px;
  display: flex;
  justify-content: center;
  width:60%;

}
.gameboard-finish-turn-button-container
{
  width: 400px;
}

.grid-container
{
  background-color: grey;
  padding:10px;
}



.lot-row
{
  display:flex;
}

.lot-card
{
  position: relative;
  display: flex;
  margin: 10px;
  height: 100px;
  width: 100px;
  border-style: double;
  padding:5px;
  font-size: 10px;
}

.dropdown-lot-menu
{
  position: absolute;
  display: none;
  background-color: aliceblue;
  color:blueviolet;
  min-width: 90px;
}

.lot-card:hover .dropdown-lot-menu
{
display: flex;
}
