.App {
  text-align: center;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #010d24;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.lot-row
{
  display:flex;
}

.lot-card
{
  position: relative;
  display: flex;
  margin: 10px;
  height: 100px;
  width: 100px;
  border-style: double;
  padding:5px;
  font-size: 10px;
}

.dropdown-lot-menu
{
  position: absolute;
  display: none;
  background-color: aliceblue;
  color:blueviolet;
  min-width: 90px;
}

.lot-card:hover .dropdown-lot-menu
{
display: flex;
}

.homepage-container
{
  border-style: solid;
  padding:20px;
}

.homepage-opening-container
{
border-style: groove;
}
.homepage-title
{
font-size: 70px;
background-color: crimson;
padding:0px;
margin:0px;
}

.homepage-tag-line
{
  padding:0px;
  margin:0px;
}





